---
import Layout from "../layout/Layout.astro";
import Header from "../sections/Header.astro";
import Home from "../sections/Home.astro";
import Projects from "../sections/Projects.astro";
import About from "../sections/About.astro";
import Footer from "../sections/Footer.astro";
---

<Layout
	title="Portfolio de Maickol Rivera | Desarrollador y Diseñador Web"
	,
	description="Desarrollador enfocado en entregar aplicaciones únicas y especiales",
>
	<Header />
	<Home />

	<div class="mt-48 flex flex-col gap-48">
		<Projects />
		<About/>
		<Footer/>
	</div>

</Layout>
