---
import Github from "./icons/Github.astro";
import ThemeSwitch from "./ThemeSwitch.astro";
import LangSwitch  from "./LangSwitch.astro"
---

<ul {...Astro.props} class="flex flex-col items-center gap-9">

    <LangSwitch></LangSwitch>
    
    <ThemeSwitch></ThemeSwitch>
    
    <li>
        <a href="https://github.com/m4icol/portfolio" target="_blank" aria-label="GitHub Maickol Rivera">
            <Github class="w-7 h-7 md:w-6 md:h-6" />
        </a>
    </li>

</ul>

