---
import CodeIcon from "../components/icons/CodeIcon.astro"
import { Image } from "astro:assets";

import { getI18N } from "../i18n";

const { currentLocale = "es" } = Astro;
const i18n = getI18N({ currentLocale });
---

<section id="about-me" class="w-screen flex flex-col gap-16 dark:text-CS-Dark-Font text-CS-Light-Font px-20">

    <div class="flex flex-col gap-3 items-center justify-center">
        <h2 class="font-semibold text-4xl">{i18n.ABOUT.TITLE}</h2>
        <CodeIcon></CodeIcon>
    </div>

    <div class="flex flex-col md:flex-row md:md:max-w-[700px] mx-auto justify-center items-center gap-20 md:gap-12">
        
        <Image
            class="rounded-2xl"
            src="/profilePicture.webp"
            alt="Maickol Rivera"
            width="160"
            height="160"
        />

        <div class="text-sm flex flex-col gap-5">

            <p>{i18n.ABOUT.TEXT_1}</p>
            <p>{i18n.ABOUT.TEXT_2}</p>

        </div>

    </div>
</section>