---
import Github from "../components/icons/Github.astro";
import LinkedIn from "../components/icons/LinkedIn.astro"
import LinkPill from "../components/LinkPill.astro";

import { getI18N } from "../i18n";

const { currentLocale = "es" } = Astro;
const i18n = getI18N({ currentLocale });
---

<footer class="dark:text-CS-Dark-Font text-CS-Light-Font dark:bg-CS-Dark-Header bg-CS-Light-Header">

    <div class="max-w-[1080px] mx-auto flex flex-col md:flex-row gap-5 md:gap-20 justify-between items-center md:px-32 py-10">    
        <h3 class="text-sm">{i18n.FOOTER.TITLE}</h3>

        <div class="flex flex-row gap-3">
    
            <LinkPill href="https://github.com/m4icol">
                <Github></Github>
                GitHub
            </LinkPill>
    
            <LinkPill href="https://www.linkedin.com/in/maickol-rivera/">
                <LinkedIn></LinkedIn>
                LinkedIn
            </LinkPill>
        </div></div>

</footer>


