---
import Icon from "../components/icons/Icon.astro";
import MenuCloseIcon from "../components/icons/MenuCloseIcon.astro";
import MenuIcon from "../components/icons/MenuIcon.astro";
import Navigation from "../components/Navigation.astro";
import OptionsNav from "../components/OptionsNav.astro";
---

<header class="fixed w-screen px-12 z-20 dark:text-CS-Dark-Font text-CS-Light-Font dark:bg-CS-Dark-Background bg-CS-Light-Header border-b dark:border-CS-Dark-Secondary">
    <div
        class="
            flex flex-row justify-between items-center py-5 max-w-[1080px] mx-auto"
    >
        <div class="flex flex-row items-center gap-5">
            <Icon class="w-7 h-7"/>
            <h2 class="font-semibold text-lg">M. Portfolio</h2>
        </div>

        <Navigation class="hidden md:flex md:flex-row md:rounded-full md:border md:border-CS-Dark-Border md:gap-10 md:py-2 md:px-10 md:text-xs " />
        <OptionsNav class=" hidden md:flex md:flex-row md:items-center md:gap-7"/>

        <div class="w-8 h-8 flex items-center md:hidden">
            <MenuCloseIcon id="iconMenuClose" class="hidden w-full h-full" />
            <MenuIcon id="iconMenu" class="w-full h-full" />
        </div>
    </div>

    <!-- Mobile -->

    <nav id="nav" class="dark:bg-CS-Dark-Background h-screen hidden pt-16  items-center flex-col gap-14">

        <Navigation />
        <div class="dark:bg-CS-Dark-Font w-5/12 h-0.5 rounded-full"></div>
        <OptionsNav />

    </nav>
</header>

<script>
    const iconMenu = document.getElementById("iconMenu") as HTMLElement;
    const iconMenuClose = document.getElementById("iconMenuClose") as HTMLElement;
    const nav = document.getElementById("nav") as HTMLElement;

    const closeMenu = () => {
        nav.classList.add("hidden");
        nav.classList.remove("flex");
        iconMenu.classList.remove("hidden");
        iconMenuClose.classList.add("hidden");
    };

    iconMenu.onclick = () => {
        nav.classList.remove("hidden");
        nav.classList.add("flex");
        iconMenu.classList.add("hidden");
        iconMenuClose.classList.remove("hidden");
    };

    iconMenuClose.onclick = closeMenu;

    const navItems = document.querySelectorAll('#nav a');

    navItems.forEach(item => {
        (item as HTMLElement).onclick = closeMenu;
    });
</script>



