---
import ProjectCard from "../components/ProjectCard.astro"
import DevIcon from "../components/icons/DevIcon.astro"
---

<section id="projects" class="h-full w-screen flex flex-col items-center pt-24 gap-16">

    <div class="flex flex-col gap-3 items-center">
        <h2 class="font-semibold text-4xl">PROJECTS</h2>
        <DevIcon></DevIcon>
    </div>

    <ProjectCard></ProjectCard>
</section>